{# extends "data_list.html" #}

{# block tblHeader #}
fieldHeaders=["&#123;&#123; cl.FieldName.SN &#125;&#125;","&#123;&#123; cl.FieldName.admin &#125;&#125;","&#123;&#123; cl.FieldName.OP &#125;&#125;","&#123;&#123; cl.FieldName.OPTime &#125;&#125;","&#123;&#123; cl.FieldName.Object &#125;&#125;"
];
options.disableCols=["0"];
options.canAdd=false;
options.canEdit=false;
{# endblock #}
{# block rowdata #}
{# for item in latest_item_list #}
["&#123;&#123; item.id &#125;&#125;", "&#123;&#123; item.SN &#125;&#125;","&#123;&#123; item.admin &#125;&#125;","&#123;&#123; item.OpName &#125;&#125;","&#123;&#123; item.OPTime|shortTime &#125;&#125;","&#123;&#123; item.ObjName &#125;&#125;"]{# if not forloop.last #},{# endif #} {# endfor #}
{# endblock #}
