{# extends "data_list.html" #}
{# load i18n #}

{# block model_extend #}
    <div id="id_model_extend" class="noUnderl leftBoxTop">
        <!-- 监控菜单-->
        {# block for_special_menu #}
        <div id="id_special_menu">
			{# for model in myapp.models #}
			{# if model.parent_model == menu_focus #}
	        <ul id="monitor_&#123;&#123; model.name &#125;&#125;" class="Link_blue2">
			<li id="id_&#123;&#123; model.name &#125;&#125;" name="&#123;&#123; model.name &#125;&#125;">				
            	<a  href="{# if model.url #} &#123;&#123; model.url &#125;&#125; {# else #} &#123;&#123; request.dbapp_url &#125;&#125; &#123;&#123; model.app_label &#125;&#125;/&#123;&#123; model.name &#125;&#125;/{# endif #}" ><span class="ds_&#123;&#123; model.name &#125;&#125;" ></span>&#123;&#123; model.verbose_name &#125;&#125;</a><div class='div_leftBottomLine'></div>
            </li></ul>
			{# endif #}
			{# endfor #}
		</div>    
        {# endblock #}
        
    </div>
{# endblock #}

