{# extends "special_menu.html" #}
{# load i18n #}

{# block getdatalist #}
    var href = window.location.href;
    if(href.split("/")[3] == "visitor")
    {
        {# if not request.user|HasPerm:"contenttypes.can_BaseDataPage" #}
            $("#id_datalist").remove();
            $("#id_search").remove();      
            alert(gettext("对不起，您没有访问该页面的权限，不能浏览更多信息！"));
            window.location.href = "/&#123;&#123; request.surl &#125;&#125;accounts/login/";
        {# endif #}<!-- contenttypes.can_DoorSetPage --> 
        window.location.href = $("#id_special_menu ul:first li a").attr("href");//跟模型相关的页面在此重定向
    }

    {# block vis_database_set #} {# endblock #}
    
{# endblock #}
{# block addjs #}
{# endblock #}
