
 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:Courier;
	panose-1:2 7 4 9 2 2 5 2 4 4;}
@font-face
	{font-family:"Tms Rmn";
	panose-1:2 2 6 3 4 5 5 2 3 4;}
@font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:"New York";
	panose-1:2 4 5 3 6 5 6 2 3 4;}
@font-face
	{font-family:System;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"MS Mincho";
	panose-1:2 2 6 9 4 2 5 8 3 4;}
@font-face
	{font-family:Batang;
	panose-1:2 3 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:宋体;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:PMingLiU;
	panose-1:2 2 5 0 0 0 0 0 0 0;}
@font-face
	{font-family:"MS Gothic";
	panose-1:2 11 6 9 7 2 5 8 2 4;}
@font-face
	{font-family:Dotum;
	panose-1:2 11 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:黑体;
	panose-1:2 1 6 9 6 1 1 1 1 1;}
@font-face
	{font-family:MingLiU;
	panose-1:2 2 5 9 0 0 0 0 0 0;}
@font-face
	{font-family:Mincho;
	panose-1:2 2 6 9 4 3 5 8 3 5;}
@font-face
	{font-family:Gulim;
	panose-1:2 11 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:Century;
	panose-1:2 4 6 3 5 7 5 2 3 3;}
@font-face
	{font-family:"Angsana New";
	panose-1:2 2 6 3 5 4 5 2 3 4;}
@font-face
	{font-family:"Cordia New";
	panose-1:2 11 3 4 2 2 2 2 2 4;}
@font-face
	{font-family:Mangal;
	panose-1:2 4 5 3 5 2 3 3 2 2;}
@font-face
	{font-family:Latha;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:Sylfaen;
	panose-1:1 10 5 2 5 3 6 3 3 3;}
@font-face
	{font-family:Vrinda;
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:Raavi;
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:Shruti;
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:Sendnya;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Gautami;
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:Tunga;
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:"Estrangelo Edessa";
	panose-1:3 8 6 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"\@宋体";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@黑体";
	panose-1:2 1 6 9 6 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
h1
	{margin-top:17.0pt;
	margin-right:0cm;
	margin-bottom:16.5pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:240%;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
h2
	{mso-style-link:"标题 2 Char";
	margin-top:13.0pt;
	margin-right:0cm;
	margin-bottom:13.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:172%;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;}
h3
	{margin-top:13.0pt;
	margin-right:0cm;
	margin-bottom:13.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:172%;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin:0cm;
	margin-bottom:.0001pt;
	text-indent:20.0pt;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";
	font-variant:small-caps;}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin:0cm;
	margin-bottom:.0001pt;
	text-indent:36.0pt;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0cm;
	margin-bottom:.0001pt;
	layout-grid-mode:char;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	background:navy;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:宋体;}
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
span.2Char
	{mso-style-name:"标题 2 Char";
	mso-style-link:"标题 2";
	font-family:"Arial","sans-serif";
	font-weight:bold;}
span.3CharChar
	{mso-style-name:"样式 标题 3 + 宋体 五号 黑色 Char Char";
	mso-style-link:"样式 标题 3 + 宋体 五号 黑色";
	font-family:宋体;
	color:black;
	font-weight:bold;}
span.highlight
	{mso-style-name:highlight;}
p.p0, li.p0, div.p0
	{mso-style-name:p0;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.063, li.063, div.063
	{mso-style-name:"样式 左侧\:  0\.63 厘米";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:18.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.3, li.3, div.3
	{mso-style-name:"样式 标题 3 + 宋体 五号 黑色";
	mso-style-link:"样式 标题 3 + 宋体 五号 黑色 Char Char";
	margin-top:13.0pt;
	margin-right:0cm;
	margin-bottom:13.0pt;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:172%;
	page-break-after:avoid;
	font-size:9.0pt;
	font-family:宋体;
	color:black;
	font-weight:bold;}
span.msoIns
	{mso-style-name:"";
	text-decoration:underline;
	color:teal;}
span.msoDel
	{mso-style-name:"";
	text-decoration:line-through;
	color:red;}
 /* Page Definitions */
 @page WordSection1
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection1
	{page:WordSection1;}
@page WordSection2
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection2
	{page:WordSection2;}
@page WordSection3
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection3
	{page:WordSection3;}
@page WordSection4
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection4
	{page:WordSection4;}
@page WordSection5
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection5
	{page:WordSection5;}
@page WordSection6
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection6
	{page:WordSection6;}
@page WordSection7
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection7
	{page:WordSection7;}
@page WordSection8
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection8
	{page:WordSection8;}
@page WordSection9
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection9
	{page:WordSection9;}
@page WordSection10
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection10
	{page:WordSection10;}
@page WordSection11
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection11
	{page:WordSection11;}
@page WordSection12
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection12
	{page:WordSection12;}
@page WordSection13
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection13
	{page:WordSection13;}
@page WordSection14
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection14
	{page:WordSection14;}
@page WordSection15
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection15
	{page:WordSection15;}
@page WordSection16
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection16
	{page:WordSection16;}
@page WordSection17
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection17
	{page:WordSection17;}
@page WordSection18
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection18
	{page:WordSection18;}
@page WordSection19
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection19
	{page:WordSection19;}
@page WordSection20
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection20
	{page:WordSection20;}
@page WordSection21
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection21
	{page:WordSection21;}
@page WordSection22
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection22
	{page:WordSection22;}
@page WordSection23
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection23
	{page:WordSection23;}
@page WordSection24
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection24
	{page:WordSection24;}
@page WordSection25
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection25
	{page:WordSection25;}
@page WordSection26
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection26
	{page:WordSection26;}
@page WordSection27
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection27
	{page:WordSection27;}
@page WordSection28
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection28
	{page:WordSection28;}
@page WordSection29
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection29
	{page:WordSection29;}
@page WordSection30
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection30
	{page:WordSection30;}
@page WordSection31
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection31
	{page:WordSection31;}
@page WordSection32
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection32
	{page:WordSection32;}
@page WordSection33
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection33
	{page:WordSection33;}
@page WordSection34
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection34
	{page:WordSection34;}
@page WordSection35
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection35
	{page:WordSection35;}
@page WordSection36
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection36
	{page:WordSection36;}
@page WordSection37
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection37
	{page:WordSection37;}
@page WordSection38
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection38
	{page:WordSection38;}
@page WordSection39
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection39
	{page:WordSection39;}
@page WordSection40
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection40
	{page:WordSection40;}
@page WordSection41
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection41
	{page:WordSection41;}
@page WordSection42
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection42
	{page:WordSection42;}
@page WordSection43
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection43
	{page:WordSection43;}
@page WordSection44
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection44
	{page:WordSection44;}
@page WordSection45
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection45
	{page:WordSection45;}
@page WordSection46
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection46
	{page:WordSection46;}
@page WordSection47
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection47
	{page:WordSection47;}
@page WordSection48
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection48
	{page:WordSection48;}
@page WordSection49
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection49
	{page:WordSection49;}
@page WordSection50
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection50
	{page:WordSection50;}
@page WordSection51
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection51
	{page:WordSection51;}
@page WordSection52
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection52
	{page:WordSection52;}
@page WordSection53
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection53
	{page:WordSection53;}
@page WordSection54
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection54
	{page:WordSection54;}
@page WordSection55
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection55
	{page:WordSection55;}
@page WordSection56
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection56
	{page:WordSection56;}
@page WordSection57
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection57
	{page:WordSection57;}
@page WordSection58
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection58
	{page:WordSection58;}
@page WordSection59
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection59
	{page:WordSection59;}
@page WordSection60
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection60
	{page:WordSection60;}
@page WordSection61
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection61
	{page:WordSection61;}
@page WordSection62
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection62
	{page:WordSection62;}
@page WordSection63
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection63
	{page:WordSection63;}
@page WordSection64
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection64
	{page:WordSection64;}
@page WordSection65
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection65
	{page:WordSection65;}
@page WordSection66
	{size:419.6pt 21.0cm;
	margin:72.0pt 2.0cm 72.0pt 2.0cm;}
div.WordSection66
	{page:WordSection66;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
