{% extends "data_edit.html" %}
{% load i18n %}

{% block form %}
{% autoescape off %} 
<tr><td>

    <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr>
            {{form.areaid|field_as_td_h}}
            <td>{{form.name.errors }}</td>
        </tr>
        <tr>
            {{form.areaname|field_as_td_h}}
            <td>{{form.code.errors }}</td>
        </tr>
        <tr>
            {{form.parent|field_as_td_h}}
            <td>{{form.parent.errors }}</td>
        </tr>
        <tr>
            {{form.remark|field_as_td_h}}
            <td>{{form.parent.errors }}</td>
        </tr>

        {% for i,k in form.errors.items %}
            {{i}}{{k}}
        {% endfor %}
        <tr class="displayN"><th></th><td><input type="checkbox" name="sync_to_branch" class="wZBaseBooleanField" id="id_sync_to_main"></td></tr>
    </table>
</td></tr>

{% endautoescape %}
{% endblock %}
{% block addjs %}
    $("label[for='id_code']").attr("class","required");
    function before_submit()
    {
        {% if has_branch %}
        if(confirm(gettext("是否立即将区域基本信息从主控同步到分控？")))
        {
            $("#id_sync_to_main").attr("checked", true);
        }
        else
        {
            alert(gettext("您选择了不立即同步该区域到分控，请稍后手动同步到分控，以保持主控和分控数据一致性！否则该区域中的设备将无法同步到分控中！"));
            $("#id_sync_to_main").attr("checked", false);
        }
        {% endif %}
        return true;
    
    }
    function before_submit_and_save()
    {
        {% if has_branch %}
        if(confirm(gettext("是否立即将区域基本信息从分控同步到主控？")))
        {
            $("#id_sync_to_main").attr("checked", true);
        }
        else
        {
            alert(gettext("您选择了不立即同步该区域到分控，请稍后手动同步到分控，以保持主控和分控数据一致性！否则该区域中的设备将无法同步到分控中！"));
            $("#id_sync_to_main").attr("checked", false);
        }
        {% endif %}
        return true;
    }
   
{% endblock %}